.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.labelText {
    color: var(--gray-dark);
    font-size: 16px;
    line-height: 22px;
}

.input {
    padding: 7px 15px;

    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    outline-color: var(--primary);
    background: var(--white);

    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
}

@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}