.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.labelText {
    color: var(--gray-dark);
    font-size: 16px;
    line-height: 22px;
}

.checkbox {
    width: 20px;
    height: 20px;
}